[2018-10-26 08:12] hermannkuschke opened #1 "Activity iamutkarshtiwari.github.io.ananas.editimage.EditImageActivity has leaked window"
Hi! First of all, thank you for this very handy tool!

I just want to report that I get the above mentioned exception when using more than one of the editing tools. I will also look into it on my side and report back, but wanted you to know.

The crash log is as follows:

`android.view.WindowLeaked: Activity iamutkarshtiwari.github.io.ananas.editimage.EditImageActivity has leaked window com.androi

[2018-10-26 11:18] hermannkuschke opened #2 "Image starts rotated by 90 degrees"
When I initially open the editor, the image starts rotated at 90 degrees. Why is that?

[2018-10-26 11:51] hermannkuschke commented on #2
This was something that I did wrong. Sorry.

[2018-10-26 11:51] #2 closed

[2018-12-01 18:37] CrazyCoderAndroid opened #3 "where is launcher activity?"
which activity is used as a launcher activity?

[2019-03-08 06:44] iamutkarshtiwari commented on #3
https://github.com/iamutkarshtiwari/Ananas#starting-the-photoeditor-activity
It's `EditImageActivity`

[2019-03-08 06:45] iamutkarshtiwari commented on #1
Looking into this.

[2019-03-17 13:17] iamutkarshtiwari commented on #1
@hermannkuschke Please try the new version: [1.1.0](https://github.com/iamutkarshtiwari/Ananas/releases/tag/1.1.0)

[2019-03-17 13:18] iamutkarshtiwari commented on #3
@CrazyCoderAndroid I have added the [sample here](https://github.com/iamutkarshtiwari/Ananas/tree/master/demo)

[2019-03-17 13:24] #3 closed

[2019-03-22 05:15] hiphopkim opened #4 "select multi photo"
Hi! First of all, thank you for this very handy tool!

If you can edit multiple photos one after the other, please apply if there is a way.

[2019-03-31 12:54] iamutkarshtiwari commented on #4
Great suggestion. Thanks!

[2019-03-31 12:55] iamutkarshtiwari opened #5 "Replace SimpleCropView with Cropper"
I plan to upgrade from `SimpleCropView` library to `Cropper` for lower apk size and cleaner interface.

[2019-04-04 10:25] iamutkarshtiwari commented on #1
Should be fixed in release `1.1.2` with [this commit](https://github.com/iamutkarshtiwari/Ananas/commit/57b6cdb84b2cf2878b4bf7e7ba102cd86860a62e)

[2019-04-05 06:06] iamutkarshtiwari opened #6 "Add aviary like rotation options"
Add `90 degrees` rotation (clock/anti-clock), `left -> right (vice versa)` translations to crop fragment.

[2019-04-05 12:51] iamutkarshtiwari commented on #1
Fixed in [`v1.1.1`](https://github.com/iamutkarshtiwari/Ananas/releases/tag/1.1.1)

[2019-04-05 12:51] #1 closed

[2019-04-06 00:35] iamutkarshtiwari opened #7 "Replace UniversalImageLoader with Glide"

[2019-04-06 00:40] iamutkarshtiwari opened #8 "Migrate to AndroidX"

[2019-04-06 01:37] iamutkarshtiwari opened #9 "Add custom activity title support"

[2019-04-06 01:45] iamutkarshtiwari opened #10 "Add overlay to undo/redo controllers"

[2019-04-06 02:12] iamutkarshtiwari opened #11 "Add animations to menu toggles"

[2019-04-06 02:13] iamutkarshtiwari opened #12 "Improve seekbars"
Improve seek bars in Rotate, Brightness, Saturation and Beautify fragments.

[2019-04-06 06:11] iamutkarshtiwari commented on #8
https://github.com/iamutkarshtiwari/Ananas/commit/9b1fa16dfa4f51be9239397dfba7552f0ae6c17e

[2019-04-06 06:11] #8 closed

[2019-04-30 13:54] thawri1 opened #13 "how to add new sticker?"

[2019-05-08 03:45] iamutkarshtiwari commented on #13
You can't add your own sticker in this library. It isn't designed that way yet.
Alternatively, you can fork this repo and add your own custom sticker if you want.

[2019-05-16 07:30] #13 closed

[2019-05-16 07:33] thawri1 opened #14 "why Images quality decreased after editing?"
for large size files, quality decreased after editing.
also adding a text decreased all images quality.

[2019-05-25 13:33] iamutkarshtiwari opened #15 "Improve the brush editor option toolbar"

[2019-05-26 03:25] iamutkarshtiwari opened #16 "Add dark and light theme configuration"

[2019-05-26 08:50] iamutkarshtiwari opened #17 "Fix Camera pick option on Android P in demo app"

[2019-05-26 08:50] iamutkarshtiwari commented on #7
https://github.com/iamutkarshtiwari/Ananas/commit/3400bed1649253d18f099468f80572737de5cd9d

[2019-05-26 08:51] #7 closed

[2019-06-12 06:56] iamjitendrasinh opened #18 "sticker not scaling"
sticker not scaling

[2019-06-12 09:09] iamjitendrasinh commented on #18
Fixed by moving "text_sticker_panel_frame" to top in "work_space" FrameLayout in activity_image_edit.xml

anyway, Thanks for your work!!

[2019-06-12 10:41] iamutkarshtiwari commented on #18
@iamjitendrasinh Thank you for reporting this issue. I'd appreciate if you can make a PR for this fix :)

[2019-07-26 09:24] iamutkarshtiwari opened #19 "Add library package prefixes to string attributes in strings.xml"

[2019-08-25 11:48] iamutkarshtiwari opened #21 "Add Travis CI"

[2019-09-06 09:14] iamutkarshtiwari commented on #18
Done https://github.com/iamutkarshtiwari/Ananas/commit/c0dfa2c92fbfbe11a96b32b434639fc8d421d51e

[2019-09-06 09:14] #18 closed

[2019-09-06 10:06] iamutkarshtiwari commented on #19
https://github.com/iamutkarshtiwari/Ananas/commit/83b06525d741d2afd8b9d5dd850add08ecb8a879

[2019-09-06 10:06] #19 closed

[2019-09-06 10:07] iamutkarshtiwari commented on #5
https://github.com/iamutkarshtiwari/Ananas/commit/d623f034c1389734c6a921a55f28241e6c1e8382

[2019-09-06 10:07] #5 closed

[2019-09-07 01:59] #6 closed

[2019-09-19 03:42] iamutkarshtiwari opened #24 "Improve paint feature"

[2019-09-19 10:05] iamutkarshtiwari commented on #10
https://github.com/iamutkarshtiwari/Ananas/commit/d3ad211871a127a55443c11f1f2d63c764cd0e79

[2019-09-19 10:05] #10 closed

[2019-09-19 11:05] iamutkarshtiwari opened #25 "Add emojis"

[2019-09-19 11:15] iamutkarshtiwari opened #26 "Fix bug in demo app"
The app does show the image in first go. Need to select again.

[2019-09-23 17:40] nmghelani opened #28 "Failed to load the image!"
Every time I selects image, I get failed to load the image!
I've tried many different ways but I didn't get what's the problem. I shared my code please check and let me know if there is any problem in implementation.

        try {
                Intent intent = new ImageEditorIntentBuilder(this, data.getData(), Environment.getExternalStorageDirectory().getAbsolutePath()+"/test.png")

[2019-09-24 06:28] iamutkarshtiwari commented on #28
@nmghelani I appreciate your feedback. Thank you!

I suspect this could be an issue because of either `data.getData()` or `Environment.getExternalStorageDirectory().getAbsolutePath()+"/test.png"` returns an invalid path string.

I would suggest you use logcat, copy the complete logs and share them here. This way we can track down the root cause.

[2019-09-24 07:08] iamutkarshtiwari opened #29 "Add vertical and horizontal translations option to crop mode"

[2019-09-24 11:11] iamutkarshtiwari commented on #15
Duplicate: https://github.com/iamutkarshtiwari/Ananas/issues/24

[2019-09-24 11:11] #15 closed

[2019-09-24 11:11] iamutkarshtiwari commented on #24
Done: https://github.com/iamutkarshtiwari/Ananas/pull/27

[2019-09-24 11:11] #24 closed

[2019-09-24 11:14] iamutkarshtiwari opened #30 "Fix scaling issue in AddTextFragment"

[2019-09-25 10:17] iamutkarshtiwari commented on #30
Done: https://github.com/iamutkarshtiwari/Ananas/pull/33

[2019-09-25 10:17] #30 closed

[2019-09-25 10:23] iamutkarshtiwari opened #35 "Avoid accidental gestures in AddTextFragment"

[2019-09-25 10:44] iamutkarshtiwari opened #36 "Add anchor resizer to AddTextFragment"

[2019-10-16 12:29] takacsm12 opened #37 ""Error while saving image" when cropping"
After applying crop, toast "Error while saving image" is displayed.
Problem is probably in CropFragment , line 201: Single.fromCallable(() -> cropPanel.getCroppedImage());
method getCroppedImage is called from background thread, but it should not, because it works with view (mImageView.clearAnimation())
This problem does not happens on all devices, reproduced on Galaxy Tab S2 , Android 7

Stacktra

[2019-10-21 03:00] iamutkarshtiwari commented on #37
@takacsm12 I'd appreciate if you could make a PR for this issue as I don't have this device on me. 🙏

[2019-10-25 06:29] iamutkarshtiwari commented on #37
Fixed.

[2019-10-25 06:29] #37 closed

[2019-10-25 06:30] iamutkarshtiwari commented on #28
I will close this ticket as I didn't get any response yet. Please feel free to re-open if you face the issue again.

[2019-10-25 06:30] #28 closed

[2019-10-25 07:49] takacsm12 opened #39 "Configurable features are not considering settings from ImageEditorIntentBuilder"

[2019-10-26 17:19] SalvadorAngel commented on #39
i have same issue

this configuration:
val intent = ImageEditorIntentBuilder(this, temp.absolutePath, tempEdit!!.absolutePath)
                        .withAddText() // Add the features you need
                        .withPaintFeature()
                        .withRotateFeature()
                        .withCropFeature()
                        .withBrightnessFeature()

[2019-10-29 07:41] iamutkarshtiwari commented on #39
@takacsm12 @SalvadorAngel
I am unable to reproduce it.
Could you please post the device and platform on which this issue happens?

[2019-10-29 17:48] SalvadorAngel commented on #39
compileSdkVersion 28
    defaultConfig {
        applicationId "XXX"
        minSdkVersion 16
        targetSdkVersion 28
        versionCode 13023
        versionName "3.3.0"
        multiDexEnabled true
        vectorDrawables.useSupportLibrary = true
        testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"
    }
-androidx.appcompat:appcompat:1.1.0

device was sony xperia XA2:

[2019-11-02 19:15] GiaSra92 opened #43 "Unable to start activity"
Unable to start activity ComponentInfo{com.test.app/iamutkarshtiwari.github.io.ananas.editimage.EditImageActivity}: android.view.InflateException: Binary XML file line #94: Binary XML file line #94: Error inflating class iamutkarshtiwari.github.io.ananas.editimage.layout.ZoomLayout

if it is not enabled
JavaVersion.VERSION_1_8
the following error occurs

the following options must be enabled in th

[2019-11-08 13:03] lorobode commented on #39
Same here. I tried to put just `withAddText()` and all the features still appears

[2019-11-11 05:42] iamutkarshtiwari commented on #43
@GiaSra92 Does it mean `JavaVersion.VERSION_1_8` needs to be added to the Gradle of the project in which the library is implemented?

[2019-11-11 05:53] iamutkarshtiwari commented on #39
Thank you, everyone! My bad. A commit got lost in the master that caused this bug. Let me fix it.

[2019-11-11 06:21] iamutkarshtiwari commented on #39
@takacsm12 Thank you for your contribution! I have fixed the MainMenuFragment instead.

[2019-11-11 06:21] #39 closed

[2019-11-11 06:26] iamutkarshtiwari commented on #43
I think this is what you meant: https://github.com/iamutkarshtiwari/Ananas/pull/45

[2019-11-11 07:56] klower opened #47 "Please add zoom function？"
would you please add zoom function?

[2019-11-11 11:21] iamutkarshtiwari commented on #47
@klower Could you please elaborate a bit more?
Which part of the app would you want to add the zoom function in?

[2019-11-15 15:03] iamutkarshtiwari commented on #43
Please feel free to reopen if anyone faces the issue again.

[2019-11-15 15:03] #43 closed

[2019-11-19 07:33] hoangknguyen1807 commented on #47
@iamutkarshtiwari
In the EditImageActivity, only the addTextFragment works well with Zooming, the rest doesn't.
I wonder what these 2 classes do :
![image](https://user-images.githubusercontent.com/52640775/69125856-5779c300-0ad9-11ea-94bd-4c64a4e37382.png)
Are they for zooming the mainView image in each editing fragment?
Please explain, thank you!

[2019-11-25 18:11] SalvadorAngel opened #48 "Enhancment idea"
What's the possibility of split the library into modules by feature?, so anybody that wants to use only some features not have to import the whole features.
in mi case i only need 3 features my app size was 12MB with the library now are around 24MB.

I think that split the library on modules it's a really good improvement.
I am in disposition to help with the work.

Best regards.

Ps. sorry for my

[2019-11-26 07:37] iamutkarshtiwari commented on #48
I love the idea! It'd be nice if you could contribute 🙏

[2019-12-11 15:06] iamutkarshtiwari opened #49 "Add dynamic feature modules"

[2020-01-16 04:36] moo611 opened #50 "I love it but I think there is something to be improved"
According to your code, if I want to save the image, it will return to the last activity, and I will get the url in the OnActivityResult. But I want to go to the next activity since the user wants to send a post to the server.

[2020-01-17 13:01] iamutkarshtiwari commented on #50
Thank you for your feedback!
How about this?
[code]

[2020-02-06 10:52] TestereNecmi opened #51 "Add RESULT_CANCELLED"
In my app, I select an image to edit. Editor opens... Then I changed my mind, do not anything and go back with "<" button.

It returned onActivityResult() with RESULT_OK code. If I edit or not, it returns with same RESULT_OK code.

[2020-02-06 12:16] TestereNecmi commented on #51
Sorry my fault, I was using old version...

SelectPictureActivity
(line 4)         setResult(RESULT_CANCELED);

[2020-02-06 12:16] #51 closed

[2020-03-17 11:34] karanianandkumar commented on #16
@iamutkarshtiwari , Any update on this issue?
![Screenshot_20200317_170346_com iaaatech citizenchat](https://user-images.githubusercontent.com/7259644/76852469-66973480-6871-11ea-8457-64ed3396d888.jpg)

[2020-03-25 08:19] hgopi opened #52 "SelectPictureActivity opens empty grid with names"
First of all, thanks for this beautiful library.

I was having Manifest merge issue while adding this library with my application. Later I resolved that issue by updating the manifest file with two attributes:

tools:node="merge"
tools:replace="android:label,android:allowBackup,android:supportsRtl"

After I am having one issue when starting the SelectPictureActivity from my application. It shows e

[2020-03-29 08:58] hgopi commented on #52
I have resolved this issue by doing:

- added android:requestLegacyExternalStorage="true" in application tag in manifest. This enables external storage in Android Q and later.

- Requested WRITE_EXTERNAL_STORAGE to load the images using Glide. Without this Glide throws permission error.

Thanks.

[2020-03-29 08:58] #52 closed

[2020-03-29 10:46] iamutkarshtiwari commented on #52
Thank you for sharing the solution!

[2020-03-31 05:54] adityapandey9 opened #53 "NullPointer Exception"
java.lang.NullPointerException: Attempt to write to field 'int iamutkarshtiwari.github.io.ananas.editimage.EditImageActivity.mode' on a null object reference
	at iamutkarshtiwari.github.io.ananas.editimage.fragment.StickerFragment.onShow(StickerFragment.java:104)
	at iamutkarshtiwari.github.io.ananas.editimage.fragment.MainMenuFragment.onStickClick(MainMenuFragment.java:145)
	at iamutkarshtiwari.g

[2020-04-11 06:48] chigup opened #54 "can you explain what are sourceImagePath, outputFilePath"

[2020-04-11 07:06] #54 closed

[2020-04-15 03:45] s-hussain639 commented on #54
Hello have you got it Please can you explain it here thanks

[2020-04-15 06:45] s-hussain639 commented on #14
Please let me know if you have you got fix for that ?

[2020-04-29 10:16] DaiyaFork opened #55 "How to load image from URL ?"

[2020-04-29 13:18] iamutkarshtiwari commented on #55
Thanks! I think that's a good enhancement Idea. Let me put it in the backlog.

[2020-04-30 03:58] DaiyaFork commented on #55
Thank you :)
    On Wednesday, 29 April, 2020, 06:51:28 pm IST, Utkarsh Tiwari <notifications@github.com> wrote:

Thanks! I think that's a good enhancement Idea. Let me put it in the backlog.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-16 11:28] mobin1623 opened #57 "cannot resolve 'OUTPUT_PATH' in onActivityResult"
It seems that the there is no variable defined to get the new image output file path.

String newFilePath = data.getStringExtra(EditImageActivity.OUTPUT_PATH);

**OUTPUT_PATH** :- not defined
Please assist.

[2020-07-21 12:55] james04gr opened #58 "Add option for disable Default ActionBar"
@iamutkarshtiwari
In my application the default theme has the default ActionBar of the android application that the Android studio provides.
So when i open the EditImageActivity its like i see two action bars. I want to keep your actionBar and hide mine. How can i do that?

![109894721_3358278964236846_7973803831109147401_n](https://user-images.githubusercontent.com/24235421/88057301-8e254300-cb6a

[2020-07-21 13:24] james04gr commented on #58
@iamutkarshtiwari  I would suggest to show or hide it according to a parameter in the Intent builder.
Piece of cake i believe! :)

[2020-07-23 07:21] iamutkarshtiwari commented on #58
Thanks for your suggestion! Let me add this enhancement.

[2020-07-23 07:23] james04gr commented on #58
Excellent. Let us know when you r done!! :)

[2020-07-29 10:01] james04gr commented on #58
Hello. I am just asking if the above request is going to get fixed soon. Thnx!

[2020-07-31 04:54] iamutkarshtiwari commented on #58
I am on it 👍

[2020-08-04 07:44] Prasad-Techlead opened #59 "Pinch to zoom on image not working!"
Hello, Pinch to zoom feature not working for me while editing the image. Is there something I need to do to enable it? Or it should work by default. Or this feature is not present currently in the api. Please let me know regarding this. That'll be a big help. Thank you.

[2020-08-10 10:50] Hmoadeb opened #60 "Brush is not smooth"
I can't make a smooth drawing using Brush
![2020-08-10](https://user-images.githubusercontent.com/67900637/89775456-be278c80-daff-11ea-9c2e-3eb43ea33e00.jpg)

[2020-08-12 02:24] #58 closed

[2020-08-12 02:27] iamutkarshtiwari commented on #58
@james04gr Please try the new version :)

[2020-08-18 11:22] james04gr commented on #58
Everything is ok. Thank you for your respond!!

[2020-08-25 05:06] ihassanali259 opened #63 "Failed to resolve: com.github.iamutkarshtiwari:Ananas:1.2.4"
When trying to implement this library android studio shows this error.

[2020-09-07 02:48] iamutkarshtiwari commented on #63
I am able to resolve the library. Could you please try again? I could be because of jitpack server issues.

[2020-09-09 15:26] james04gr opened #64 "Set the brush to lower size"
I want to open the Editor and have the brush functionality but i want to use a lower size as a default. Is there any way to do this?

[2020-09-14 15:33] james04gr commented on #64
Just a reminder in case you didn t see it!

[2020-09-21 12:24] Jackyto commented on #63
Same for me here, just started a new project and added implementation, says "Failed to resolve"

[2020-09-21 13:40] ihassanali259 commented on #63
A better solution is to use [this](https://github.com/burhanrashid52/PhotoEditor) library as an alteranative

[2020-09-21 13:41] #63 closed

[2020-09-30 21:06] thirstycoda commented on #57
Try using ImageEditorIntentBuilder.OUTPUT_PATH

[2020-10-02 14:00] thirstycoda commented on #25
This is already possible with the Text feature

[2020-10-10 23:19] joemerritt commented on #54
Hi Hussain did you get a response for this?

[2020-10-11 00:01] joemerritt opened #67 "OutPutFilePath"
Hi, I continually get the error

E/Demo App: Output image path required. Use withOutputPath(path) to provide the output image path.

Using the below:

File storageDir = new File(Environment
                .getExternalStoragePublicDirectory(Environment.DIRECTORY_DCIM) + "/Storage/");

        try {
            Intent intent = new ImageEditorIntentBuilder(this, sourceImagePath, storageDir.toString(

[2020-10-12 15:18] thirstycoda commented on #67
It looks like you are providing a path to a directory but you need to provide a path to a file

[2020-10-12 15:21] thirstycoda commented on #67
It looks like you are providing a path to a directory but you need to provide a path to a file

[2020-10-12 17:25] yatinjulka95 opened #72 "Failed to load the image!"
First of all, Your library is very helpful to me.
But now when i pass filePath to EditImageActivity i always this error **"Failed to load the image!"**

You have used this Toast in this method given below.

Have you updated the code ?
Can you help me in this ?

private void loadImageFromFile(String filePath) {
        compositeDisposable.clear();

        Disposable loadImageDisposable = loadImage

[2020-10-13 00:42] thirstycoda commented on #72
This isn't my library but I've raised a few pull requests on it recently so have become familiar with it. Hopefully I can help. Please can you provide the following information:
- What is the value of filePath?
- Using a breakpoint at the line "e -> showToast(R.string.iamutkarshtiwari_github_io_ananas_load_error)", what is value of e?

[2020-10-13 00:56] thirstycoda commented on #64
This isn't my library but I thought I'd take a little look.

It looks like the default brush size is hardcoded here:

https://github.com/iamutkarshtiwari/Ananas/blob/f943c61a3bcc57b5079f434a078573c69f7cd240/ananas/src/main/java/iamutkarshtiwari/github/io/ananas/editimage/fragment/paint/PaintFragment.java#L40

This means you have a few options:
1. Fork the library and change the hardcoded value to

[2020-10-13 03:08] joemerritt commented on #72
Hi I had the same issue. I used the below method to return the correct file path and load in to the intent

public String getImageFilePath(Uri uri) {

        File file = new File(uri.getPath());
        String[] filePath = file.getPath().split(":");
        String image_id = filePath[filePath.length - 1];

        Cursor cursor = getContentResolver().query(android.provider.MediaStore.Images.Media

[2020-10-13 03:10] joemerritt commented on #67
Yep, that's correct. Took me a moment to get it right. Thanks

[2020-10-13 03:10] #67 closed

[2020-10-13 03:19] joemerritt opened #73 "Google Play Console Conflict"
Hi Guys,

I've just tried to upload the abb to google play console. Unfortunately it won't allow me to upload.

I've uninstalled the implementation and the new abb uploaded with no problems. But when I reinstall
implementation 'com.github.iamutkarshtiwari:Ananas:1.2.4',
the issue is there again.

Any suggestions on how to look for the conflict/issue?

Cheers

[2020-10-17 09:50] HritikBhat opened #75 "Failed To Load The Image! Android Q"
Greetings,
The library is fabulously working till API 28 or Android Pie. But when I run it in Android Q or API 29(or above version). It fails to load the image. Then I decided to look upon the code and I saw the library using BitmapFactory.decodeFile which I think would be difficult to use as Android Q or 10 has curbed Storage Path for User privacy.
From my view, these functions are making trouble

[2020-10-27 10:19] dotheapp opened #76 "How to import my own stickers to edit image view?"
For the function withStickerFeature(), I found that I can't change the default sticker set, how can I change it? Please update me if you have any solutions of it, thankyou!

[2020-11-01 16:49] s-hussain639 commented on #54
Yes I got it please by myself. The source path is the image path which you
want to edit mean form sd card  like sdcard/images/myimage
and the out file path is the path where you want to store it. you can
create a temp file and store it there after that you can clear that thing.
Feel free to contact.
Sorry for late replay i was out of station.
Saddam

On Sun, Oct 11, 2020 at 4:19 AM Joe <notificati

[2020-11-21 17:54] farrakhj commented on #73
Hello,

Can you kindly share the error of Google Play console?

Regards,
Farrakh

[2020-11-25 09:24] ravi-savaj commented on #75
File outputFile = FileUtils.genEditFile();
try {
            Intent intent = new ImageEditorIntentBuilder(this, root, outputFile.getAbsolutePath())
                    .withAddText() // Add the features you need
                    .withPaintFeature()
                    .withFilterFeature()
                    .withRotateFeature()
                    .withCropFeature()
                    .withBr

[2020-11-25 09:28] ravi-savaj opened #77 "Save Edited Image in android 9 and above version Solved"
File outputFile = FileUtils.genEditFile();
 try {
          Intent intent = new ImageEditorIntentBuilder(this, root, outputFile.getAbsolutePath())
                    .withAddText() // Add the features you need
                    .withPaintFeature()
                    .withFilterFeature()
                    .withRotateFeature()
                    .withCropFeature()
                    .withBri

[2020-12-09 14:23] tmarsteel commented on #76
You can specify them in your strings resources. First, specify the category/type labels:
[code]

You can then specify the path beneath res/drawable to the stickers of each category/type:
[code]

And then you have to specify the amount of stickers in each category/type:
[code]

The darwables for the stickers have to be located in `res/drawable/$path_$n`. So e.g. my two files for category 1 are `res

[2020-12-24 14:22] Gaurav-V7 opened #80 "Cannot resolve symbol 'OUTPUT_PATH'"
![Screenshot (4)](https://user-images.githubusercontent.com/37897930/103093869-b76a6380-4621-11eb-89b5-989a2a8cdb77.png)
I have found this library on internet, everything works fine. No Problem at all. But after all implementation, I have found that you have not added OUTPUT_PATH static variable not added in class which returns the edited image path in activity and You have saying the variable is

[2021-01-19 12:39] emrememil opened #81 "text translation support"
First of all, thanks for this library. Really amazing.

I decided to use your library in my application. However, my application uses more than 10 languages. How can I add and translate the language I want in this my project?

[2021-01-20 06:12] mostafaimran opened #82 "Image gets rotated"
Image gets rotated when given from image path. Need to set the exif information to fix the rotation.

[2021-01-30 13:00] #82 closed

[2021-01-30 13:03] iamutkarshtiwari commented on #81
Thank you for your interest @emrememil . You can make a PR with the languages you wish to have in this library. A PR for adding local support would look something like [this](https://github.com/iamutkarshtiwari/Ananas/pull/83/files#diff-0ce42916c58544eafb16b573384cd8b180ce105c64a0033328b9ea554e21b958R1)

Thanks to @mostafaimran for adding Arabic and French support, recently!

[2021-01-30 13:04] iamutkarshtiwari commented on #73
Hi @joemerritt , as @farrakhj mentioned, it would be helpful if you could share the error you get on Google Play console. That way we can debug and resolve the issue.

[2021-01-30 13:09] iamutkarshtiwari commented on #60
@Hmoadeb Thanks for reporting this issue. Unfortunately, I am unable to reproduce the issue you mentioned. I'd appreaciate if you could share the steps to reproduce it. Please feel free to reopen this issue.

<img src="https://user-images.githubusercontent.com/6258810/106357109-6dbf1800-6347-11eb-8240-adb87b5eae8a.png"  width="300" height="600">

[2021-01-30 13:09] #60 closed

[2021-01-30 13:10] #17 closed

[2021-01-30 13:11] iamutkarshtiwari commented on #25
@thirstycoda Sounds like a plan!

[2021-01-30 13:19] iamutkarshtiwari commented on #59
Hi @Prasad-Techlead, pinch to zoom is currently only available in AddText mode. Thanks for pointing it out, I'll work adding it to all options.

[2021-01-30 13:20] iamutkarshtiwari opened #84 "Add pinch-zoom to all menu options."
Currently P-Z is only supported on `AddText` menu screen. Let's add it to other fragments as well.

[2021-01-31 12:16] iamutkarshtiwari commented on #53
@adityapandey9 Could you share the reproduction steps?

[2021-01-31 12:17] iamutkarshtiwari commented on #57
Should be solved in the new version `1.2.5`. Please feel free to re-open if you still face the issue.

[2021-01-31 12:17] #57 closed

[2021-01-31 12:20] iamutkarshtiwari commented on #72
@yatinjulka95 @joemerritt I'd appreciate if you could share a log for the error so that we can resolve this from the root.

[2021-01-31 12:24] iamutkarshtiwari commented on #77
The README is now updated. The problem should be solved in version `1.2.5`.

[2021-01-31 12:24] #77 closed

[2021-01-31 12:25] iamutkarshtiwari commented on #80
Hi @Gaurav-V7 , thanks for reporting this! We have updated the example code in the README. Please try the latest version `1.2.5` and let us know if there are any issues.

[2021-01-31 12:25] #80 closed

[2021-01-31 12:26] iamutkarshtiwari commented on #75
Closing since it's similar to [this issue](https://github.com/iamutkarshtiwari/Ananas/issues/77) which is resolved in version `1.2.5`.

[2021-01-31 12:26] #75 closed

[2021-02-02 18:29] emrememil opened #85 "Issue with filtering black photo"
App crashes while applying any filter to solid black image.

**Log:**
Error: A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x7e51cf4f44 in tid 10742 (RxComputationTh), pid 10254 (udapper.android)

sample photo: https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Black_flag.svg/750px-Black_flag.svg.png

[2021-02-04 10:14] adityapandey9 commented on #53
@iamutkarshtiwari I have fixed that locally, It is working fine on my side.

[2021-02-04 10:14] #53 closed

[2021-02-05 05:41] iamutkarshtiwari commented on #85
Thanks for reporting this.
Seems like the extension of this image is `.svg`. Could you cross-check because the library supports only non-svg images.

[2021-02-05 07:49] emrememil commented on #85
The same problem is experienced with photos with `.png` or `.jpeg` extensions. Thank you for your interest

[2021-02-07 11:48] iamutkarshtiwari commented on #85
Could you please attach all those photos you are facing this issue with? I'll try to debug and fix it.

[2021-02-08 07:02] emrememil commented on #85
Sample image;
![images](https://user-images.githubusercontent.com/23477055/107186094-b3897980-69f4-11eb-9f84-aca2fc03d6b0.png)

[2021-02-08 11:53] iamutkarshtiwari commented on #85
Thanks! I was able to reproduce it. Seems an interesting issue. Let me look into it.

[2021-02-08 16:11] hinnan opened #86 "App compiling issue"
I have followed all your steps which you determined for importing library but I am still unable to import the Editoractivity into my project. Please help me

[2021-02-09 11:28] emrememil commented on #85
Yes it is quite interesting. Thank you for your interest.

[2021-02-10 04:37] iamutkarshtiwari commented on #86
Hi @hinnan, could you please share logs for the error you are facing when compiling?

[2021-02-22 09:14] farrakhj opened #87 "Android 11(R) target SDK migration"
Hello everyone,

Anyone started at migration of code to Android 11(R) target SDK? For Android 10(Q) we are using Manifest Tag android:requestLegacyExternalStorage="true" but for Android 11(R) target SDK it will not work.

Regards,
Farrakh

[2021-02-22 14:10] iamutkarshtiwari commented on #87
Thank you for reporting this @farrakhj

[2021-03-16 05:40] farrakhj commented on #87
@iamutkarshtiwari Any update at this thread?

[2021-03-19 13:40] DevAdeel opened #88 "Can't Implement"
I am unable to implement library in my project.

Getting following error

Failed to resolve: com.github.iamutkarshtiwari:Ananas:1.2.5

[2021-03-19 13:42] DevAdeel commented on #88
Issue solved
Changes the version from 1.2.5 -> 1.2.3

[2021-03-19 13:42] #88 closed

[2021-04-08 16:15] khawajaetisam99 commented on #86
Change the version from 1.2.5 -> 1.2.3
solved!

[2021-04-27 21:15] rahat14 opened #89 "com.rahat.editorapp E/TAG: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter outputPath"
requesting OUTPUT File Path but  all  ready giving it
on Andorid 10

File outputFile = FileUtils.genEditFile();
        Log.d("TAG", "editImageClick: "  + outputFile.getAbsolutePath());
        try {

            Intent intent = new ImageEditorIntentBuilder(this, path, outputFile.getAbsolutePath())
                    .withAddText()
                    .withPaintFeature()
                    .with

[2021-04-27 21:26] rahat14 commented on #87
@farrakhj
How did u got it for andorid 10 i am having this ->
 https://github.com/iamutkarshtiwari/Ananas/issues/89

[2021-05-11 08:01] Gaurav2621998 opened #90 "Getting crash in Android 11(R) during selecting album"
![WhatsApp Image 2021-05-11 at 12 22 09 PM](https://user-images.githubusercontent.com/27393610/117780165-01648680-b25d-11eb-8b0c-b56728e8d304.jpeg)

Device Name - redmi k30
Build Version - 30

[2021-05-19 11:49] jeevanvns opened #91 "getting issue while add lib in kotlin project"
Execution failed for task ':app:dataBindingMergeDependencyArtifactsDebug'.

     Required by:
         project :app

Possible solution:
 - Declare repository providing the artifact, see the documentation at https://docs.gradle.org/current/userguide/declaring_repositories.html

[2021-05-20 10:51] farwahmehmood opened #92 "upload image issue"
for the very first the when we install our apk of app. it does not upload image to image editor and after that it starts uploading. but when we clear data of our app and start our app again it does not upload image in editor for first time.

[2021-05-21 13:59] AkkiBuoy opened #93 "Image not loading on First run of the app"
` Disposable loadImageDisposable = loadImage(filePath)
                .subscribeOn(Schedulers.io())
                .observeOn(AndroidSchedulers.mainThread())
                .doOnSubscribe(subscriber -> loadingDialog.show())
                .doFinally(() -> loadingDialog.dismiss())
                .subscribe(processedBitmap -> changeMainBitmap(processedBitmap, false), e -> showToast(R.string.iam

[2021-05-28 12:34] Dhaval3344 commented on #55
Hello @iamutkarshtiwari
I'm trying to open an image from the server url but the image is not loading and showing the below error in the error log, please check

2021-05-28 18:00:03.522 13936-14010/io.github.iamutkarshtiwari.ananasproject E/BitmapFactory: Unable to decode stream: java.io.FileNotFoundException: http:/ybtest.in/craftio/assets/images/uploads/users/1619101389phpLukept.jpeg: open failed

[2021-05-31 09:09] AliAzaz commented on #91
Getting the same issue because @iamutkarshtiwari you didn't create release: See this on jitpack:
![image](https://user-images.githubusercontent.com/12116478/120169791-be714f80-c219-11eb-9816-9598decdff3f.png)

[2021-06-22 09:07] iamutkarshtiwari commented on #93
This was fixed in this commit https://github.com/iamutkarshtiwari/Ananas/pull/94

[2021-06-22 09:07] #93 closed

[2021-06-22 09:07] iamutkarshtiwari commented on #92
This was fixed in this commit https://github.com/iamutkarshtiwari/Ananas/pull/94
Please feel free to re-open this ticket if the issue persists.

[2021-06-22 09:54] iamutkarshtiwari commented on #90
This was fixed in this commit https://github.com/iamutkarshtiwari/Ananas/pull/94
Please feel free to re-open this ticket if the issue persists.

[2021-06-22 09:54] #90 closed

[2021-06-22 09:54] iamutkarshtiwari commented on #89
This was fixed in this commit https://github.com/iamutkarshtiwari/Ananas/pull/94
Please feel free to re-open this ticket if the issue persists.

[2021-06-22 09:54] #89 closed

[2021-06-22 09:54] iamutkarshtiwari commented on #87
This was fixed in this commit https://github.com/iamutkarshtiwari/Ananas/pull/94
Please feel free to re-open this ticket if the issue persists.

[2021-06-22 09:54] #87 closed

[2021-06-22 09:54] iamutkarshtiwari commented on #86
This was fixed in this commit https://github.com/iamutkarshtiwari/Ananas/pull/94
Please feel free to re-open this ticket if the issue persists.

[2021-06-22 09:54] #86 closed

[2021-06-22 09:55] #92 closed

[2021-06-22 09:55] iamutkarshtiwari commented on #91
This was fixed in this commit https://github.com/iamutkarshtiwari/Ananas/pull/94
Please feel free to re-open this ticket if the issue persists.

[2021-06-22 09:55] #91 closed

[2021-06-22 10:04] iamutkarshtiwari commented on #72
This was fixed in this commit https://github.com/iamutkarshtiwari/Ananas/pull/94
Please feel free to re-open this ticket if the issue persists.

[2021-06-22 10:04] #72 closed

[2021-06-22 10:29] farrakhj commented on #87
Can you kindly explicitly explain the change for #87 issue?

[2021-06-22 10:47] Gaurav2621998 commented on #90
Yes, now working fine. Thanks buddy. @iamutkarshtiwari

[2021-06-23 03:41] iamutkarshtiwari commented on #88
@DevAdeel Please try the latest version `1.2.6`. It has bug fixes and improved photo picker.

[2021-06-23 03:47] iamutkarshtiwari commented on #87
@farrakhj Until previous versions, I was using legacy way of loading images from mediastore database into a custom grid view. Since Android enforced scoped storage from Android 10 onwards, Ananas users started experiencing crash when picking images from gallery on devices >= Android 10.

That's why you had to use `android:requestExternalLegacyStorage` to make it work on 10 which was available shor

[2021-06-23 05:35] iamutkarshtiwari commented on #73
@joemerritt Please try the latest version `1.2.6`. If you still face this issue, feel free to re-open this ticket.

[2021-06-23 05:35] #73 closed

[2021-06-23 05:50] farrakhj commented on #87
As android:requestExternalLegacyStorage is removed from Android 11 and after 1st of May we will not be able to upload apk/aab to play console. So after removing android:requestExternalLegacyStorage will Ananas work on android 10 and onwards? If users not experience crash than what is the change in code?

[2021-06-23 13:09] iamutkarshtiwari commented on #87
@farrakhj I have tested the latest version on Android 10 and 11 without `android:requestExternalLegacyStorage`. Works just fine. I'd recommend you to try as well。

[2021-06-30 04:24] iamutkarshtiwari commented on #85
I looked into this issue and it seems like that there is this edge case in the JNI library used for image transformation. Since it's an extreme case which will hardly occur and I also need to re-factor, recompile and redeploy the native .so files, it's quite an overkill.
I'll re-consider it if this issue is recurrent.
Thanks for notifying though!

[2021-06-30 04:24] #85 closed

[2021-06-30 04:28] iamutkarshtiwari commented on #64
@thirstycoda The default value of the brush size is indeed hardcoded. However, it's possible to change the brush size from the interface I provided in Paint mode (the gear icon on tap left)

@james04gr Please refer to the demo video below on how to change the brush size.

https://user-images.githubusercontent.com/6258810/123901987-ab24e180-d989-11eb-9131-bd49dd07797a.mp4

[2021-07-26 05:41] brittle123 opened #95 "Change Image Background Feature"
Hello Sir!,.. i just want to know how we can add image background change tool feature in your editor,.. like we can add images in the background or custom colors. Please do tell me ASAP.
Thanks & Regards.

[2021-08-03 03:54] iamutkarshtiwari commented on #95
@brittle123 I am not sure what you mean by image background. Could you share some mockups or examples to help me understand?

[2021-08-03 05:43] brittle123 commented on #95
@iamutkarshtiwari When we are editing an image,.. we want to add layer in the background of that image which is also an image. In Simple words i just want to change the background of an image by placing another layer of image.

[2021-08-04 09:22] trungnnq opened #96 "Canvas: trying to draw too large(115200000bytes) bitmap."
Hello sir!
When I try to load a big image from storage (~9MB), this crash happen
Fatal Exception: java.lang.RuntimeException
Canvas: trying to draw too large(115200000bytes) bitmap.

[code]
Could you support me fix it?

[2021-08-04 09:27] trungnnq commented on #96
Libs ver: 1.2.6
Android: 9 - API 28

[2021-08-14 08:31] viratsoft opened #97 "Failed to resolve: com.github.iamutkarshtiwari:Ananas:1.2.6"
implementation 'com.github.iamutkarshtiwari:Ananas:1.2.6'
Not work get error:
`Failed to resolve: com.github.iamutkarshtiwari:Ananas:1.2.6`

[2021-08-19 06:28] chichi289 commented on #55
Hello @Dhaval3344 I have customized little bit code to load image from url & its working fine with library let me know if you need still any help

Thank you.

[2021-09-02 04:22] iamutkarshtiwari commented on #97
Did you follow these instructions? https://jitpack.io/#iamutkarshtiwari/ananas/1.2.6

[2021-09-06 05:32] #96 closed, assigned to nobody

[2021-09-07 06:11] Dhaval3344 commented on #55
Hello @chichi289 can you please guide me on how you did it?

[2021-09-08 12:22] chichi289 commented on #55
Hello @Dhaval3344

step 1 :- Generate bitmap from image url
step 2 :- Create file (in internal or cache dir)
step 3 :- Save that bitmap to the newly created file
step 4 :- Now you have file so you can get that file's path and pass to ImageEditorIntentBuilder

And it will work.

Let me know if you have any queries

Thank you.

[2021-09-09 13:11] Dhaval3344 commented on #55
Thanks, @chichi289  for helping, I followed your step and it's working.

[2021-09-11 17:03] MattCCC opened #98 "Image from Camera"
Hi guys, firstly thank you for great plugin. We're building out todo app with that and works really well! Would it be possible to integrate Camera option in the plugin? So user could take picture and apply some filters on it?

[2021-09-11 21:14] red-game-dev opened #99 "Issue with withEditorTitle()"
Hi!

Hope this message finds you well.

I'm trying to use `withEditorTitle(title: string)` from https://github.com/iamutkarshtiwari/Ananas/blob/4ca9b159ec798946b437183f69eba89b823ae561/ananas/src/main/java/iamutkarshtiwari/github/io/ananas/editimage/ImageEditorIntentBuilder.kt#L60 but unfortunately it does throw an error as the following

![image](https://user-images.githubusercontent.com/75917402

[2021-09-16 07:35] iamutkarshtiwari commented on #98
Thanks for the suggestion.
I had a similar use case in the company where I work at. There they created their own camera implementation which hands over the captured image to ImageEditorLibrary and gets back the edited image.
As this library aims at editing the image (not capturing them), it seems unnecessary.

[2021-09-16 07:39] iamutkarshtiwari commented on #99
Hi @red-game-dev, thanks for reporting this issue.
Could you please paste the complete logcat. Would be easier to debug?

[2021-09-18 03:01] khalil05400 opened #100 "Edit Image fetched from server"
How I can edit images obtained from the server?
as this library takes input image path in launcher Intent
But I have images URL obtained from the server

[2021-09-18 03:02] khalil05400 opened #101 "When I try to convert this project into kotlin and improt project into existing project using data binding"
import android.widget.shape;
                     ^
  symbol:   class shape
  location: package android.widget

[2021-09-18 16:59] red-game-dev commented on #99
Hi @iamutkarshtiwari

You're welcome, and hope you're well!

As requested I've added the logcat while triggering this action, you can view below
[code]

Hope this is helpful! Looking forward to hearing from you.

Best regards,
Cheers

[2021-09-25 15:37] Allay054 opened #102 "Change Text Size"
how I can change text size while adding text to the image?

[2021-09-28 07:35] ravibirla1 opened #103 "ImageEditorIntentBuilder cant find symbol"
ImageEditorIntentBuilder this class is not found in activity

 try {
            Intent intent = new ImageEditorIntentBuilder(this, sourceImagePath, outputFilePath)
                    .withAddText() // Add the features you need
                    .withPaintFeature()
                    .withFilterFeature()
                    .withRotateFeature()
                    .withCropFeature()

[2021-09-28 13:44] iamutkarshtiwari commented on #102
You can pinch to zoom the text after adding it to the image.

[2021-09-28 13:46] iamutkarshtiwari commented on #100
That could be a good enhancement. Currently it doesn't support loading image from URL. What you can do for now is that download the image from the URL, generate a bitmap and pass it to the library via intentbuilder.

[2021-10-08 10:42] alirezabashi98 opened #104 "Please add invert photo (flip)"

[2021-10-29 13:37] farrakhj opened #105 "App crash if big size image is provided"
In the below method from EditImageActivity app crashes if large image(provided 14MB image) is provided.
private Single<Bitmap> loadImage(String filePath) {
       return Single.fromCallable(() -> BitmapUtils.getSampledBitmap(filePath, imageWidth,
                imageHeight));
}

public static Bitmap getSampledBitmap(String filePath, int reqWidth, int reqHeight) throws FileNotFoundException {

[2021-11-01 05:30] farrakhj commented on #105
Above code create BitmapFactory.Options with options instance. options instance is never loaded with filePath image data. So this always return sampleSize 1 for every image. The correct code should be as below. Line added in highlighted:

public static Bitmap getSampledBitmap(String filePath, int reqWidth, int reqHeight) throws FileNotFoundException {
BitmapFactory.Options options = new BitmapFact

[2021-11-01 13:37] farrakhj commented on #105
@iamutkarshtiwari

[2022-02-11 22:44] NobilityDeviant commented on #101
You have to move background_border.xml to the drawable folder.

[2022-03-08 09:35] nabeel1o1 commented on #95
Hello @brittle123, did you found the solution for changing the background of a picture?

[2022-03-12 05:32] iamutkarshtiwari commented on #105
Hi @farrakhj, thank you for reporting this issue!
Oh, you already found the cause. Would you like to make a PR for it?

[2022-03-12 05:33] iamutkarshtiwari commented on #104
Hi @alirezabashi98 , thank you for this request. We have a [ticket](https://github.com/iamutkarshtiwari/Ananas/issues/29) logged for this. I need to make some time to work on it.

[2022-04-01 06:23] barathii opened #106 "Text option not working"
enter text not work

[2022-04-01 12:07] farrakhj commented on #105
Sure i would like to create PR for it. Can you please guide the steps as i am new at GitHub?

[2022-04-05 22:51] iamutkarshtiwari commented on #106
Hi @barathii, could you please share more details like the device you used, Android version and the logcat?

[2022-04-06 05:02] barathii commented on #106
Redmi note 5 version 10 OS. I dnt receive  any error from logcat..

[2022-04-10 12:32] sgarg3399 commented on #103
i m also facing the same issue

[2022-05-27 22:29] AhmadRaza159 opened #107 "Error inflating class com.theartofdev.edmodo.cropper.CropImageView"
Unable to start activity ComponentInfo{com.example.pencilsketch/iamutkarshtiwari.github.io.ananas.editimage.EditImageActivity}: android.view.InflateException: Binary XML file line #141 in com.example.pencilsketch:layout/activity_image_edit: Binary XML file line #141 in com.example.pencilsketch:layout/activity_image_edit: Error inflating class com.theartofdev.edmodo.cropper.CropImageView

Pencil Sk

[2022-09-27 09:18] Kim-DongGeun opened #108 "NullPointerException occur"
I don't know when the exception is thrown
here is crash log
plz check it

[2022-10-10 09:55] sonalspatel22 opened #110 "how to add only filter lib in project"